@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

html {
    scroll-behavior: smooth;
    background-image: linear-gradient(#F2C744, #D9415D);
    background-size:cover;
    background-position:center;
  }

body{
    user-select: none;
    text-align: center;
    justify-content: center;
}

#TopBar {
    margin-top: -2vh;
}

#TopBar:hover {
    filter: invert(1)
}

a {
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

#Foto {
    margin-top: 17vh;
    border-radius: 100%;
    height: 230px;
    width: 170px;
    border: 8px solid #F2C744;
    box-shadow: 15px 6px;
    transition: 0.5s;
}

#Foto:hover {
    height: 260px;
    width: 200px;
}

#Nome {
    color: rgb(255, 255, 255);
    margin-top: 13vh;
    font-size: 130px;
    font-family: 'Comfortaa', cursive;
    text-shadow: 6px 11px #000000
}

#Nome:hover {
    color: rgb(0, 0, 0);
    text-shadow: 6px 11px #ffffff
}

.Sobre {
    font-family: 'Noto Sans';
    font-size: 2.4vh;
    margin-top: 30vh;
    text-shadow: 0.5px 1px #ffffff
}

.Sobre:hover {
    color: #ffffff;
    text-shadow: 0.5px 1px #000000
}


#RedesSociais {
    margin-top: 60vh;
    display: flex;
    justify-content: space-around;
}

#RedesSociais:hover {
    filter: invert(1)
}

#Form {
    justify-content: space-between
    font-family: 'Comfortaa', cursive;

}

input {
    background-color: transparent;
    margin-top: 12vh;
    padding: 7px;
    box-sizing: border-box;
    width: 150px;
    border-radius: 30px;
    transition: all 0.5s;
}

input:focus {
    width: 300px;
}

@media screen and (max-width: 768px) {
    selection, aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    navi li {
        float: none;
        text-align: center;
        width: 100%;
    }

    footer p {
        display: none;
    }
}